/* #body{
    background-image:url(../unit-4-game/assets/images/background.jpg);
    display: block;
    margin: 8px;
} */

#para{
    color:black;
    background-color:beige;
    width:400px;
    padding:15px;
    margin-right:20px;
    padding-bottom:10px;
    float: right;
}

.alert{
    width:400px;
    padding:15px;
    margin:0px;
    padding-bottom:10px;
    
}


.meh{

    justify-content: space-around;
    align-items: stretch;
    margin: 20px;
    margin-left:2px;

}
.cyrstal{
    border: 1px solid green;
    height: 75px;
    width: 75px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 2s;
    float: left;
    padding: 50px;
    margin-bottom: 10px;
    
}

.cyrstal:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

#currentNum{
    width:400px;
    padding:15px;
    margin:0px;
    padding-bottom:10px;
    
}

#win{
    width:400px;
    padding:15px;
    margin:0px;
    padding-bottom:10px;
    background-color:beige;

}

#lost {
    width:400px;
    padding:15px;
    margin:0px;
    padding-bottom:10px;
    background-color:beige;

}

.bg{
    font-family: 'Courier New', Courier, monospace
}

/* #computer{
    margin: 20px;
} */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      background: #999;
      width: 100%;
    }
  }